<form class="grid" [formGroup]="formData">
    <div class="col-12">
     <label class="font-bold">Clave</label>
      <input type="text" pInputText class="w-full" formControlName="key"> 
    </div>
    <div class="col-12" *ngFor="let code of languages.codes">
      <label class="font-bold">Idioma: {{code}}</label>
      <textarea pInputTextarea class="w-full" [formControlName]="code"></textarea>
    </div>
    <div class="col-12 flex justify-content-center">
        <button pButton pRipple type="button" label="Aceptar" class="m-2" (click)="confirm()" [disabled]="formData.invalid"></button>
        <button pButton pRipple type="button" label="Cancelar" class="p-button-danger m-2" (click)="cancel()"></button>
      </div>
</form>


